.constainer{
    flex: 4;
    padding: 20px;

}

.messages-container {
    height:100%;
    padding: 16px;
    flex-grow: 1;
    border: 1px solid ;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #2F2E41;
    border-color:gray
}

.message-list-container {
    margin-bottom: 16px;
    flex: 1;
    overflow: scroll;
}

.message-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    padding: 8px 16px;
    margin-bottom: 8px;
    background: gray;
    border-radius: 20px;
    text-align: left;
    margin-right: 10px;
    color: white;
}

.own-message {
    background: #5d5d5d;
    align-self: flex-end;
    text-align: right;
}

.sender {
    margin-bottom: 8px;
}

.message-input-container {
    display: flex;
    gap: 4px;
}

.message-input {
    padding: 12px 8px;
    flex: 1;
    background: white;
    border-radius: 20px;
    color: black;
}

.send-message {
    padding: 12px 14px;
    background: blue;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    border-width: 0;
}